.body {
    display: flex;
    flex-grow: 1;
    .chat_content {
        flex-grow: 0.7;
        position: relative;
        padding: 15px;
    }
    .chat_background {
        background-color: #e5ddd5;
        background-image: url(https://web.whatsapp.com/img/bg-chat-tile_9e8a2898faedb7db9bf5638405cf81ae.png);
        background-repeat: repeat;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .06;
    }
    .chat_message {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 10px;
        font-weight: 300;
        .details {
            font-family: monospace;
            margin-top: 5px;
            .message_author {
                color: grey;
            }
            .message_date {
                color: lightgrey;
            }
        }
    }
}