.body {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    .chat_content {
        flex-grow: 0.7;
        position: relative;
        padding: 15px;
        overflow-y: auto;
        background-color: #f5ede5;
        // background-image: url(https://web.whatsapp.com/img/bg-chat-tile_9e8a2898faedb7db9bf5638405cf81ae.png);
        // background-repeat: repeat;
    }
    .chat_message {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 10px;
        font-weight: 300;
        display: flex;
        IMG {
            border-radius: 50%;
            margin-right: 15px;
        }
        .details {
            font-family: monospace;
            margin-top: 10px;
            .message_author {
                color: grey;
            }
            .message_date {
                color: lightgrey;
            }
        }
    }
}